:root {
  --primary-color-dark: rgb(113, 62, 102) ; 
  --secondary-color: rgb(222, 177, 207);
  --accent1-color: rgb(169, 196, 187);
  --accent2-color: rgb(244, 233, 205);
  --contrast-color: rgb(235, 131, 50);

  --paragraph-font: "Montserrat", sans-serif;
  --heading-font: "Radio Canada Big", sans-serif;

  --nav-background-color: rgb(176, 127, 246);
  --nav-link-color: #dacdf7;
  --nav-hover-background-color: #f7f7f7;
  --nav-hover-link-color: #fdcbd8;
}

*{
  box-sizing: border-box;
}


header,
main,
footer {
  max-width: 980px;
  margin: 1rem auto;
  border: 1px solid #bbb;
  padding: 1rem;
  background-color: #e6f2ff;
}

h1, h2, h3, h4, h5, h6{
  font-family: var(--heading-font), sans-serif;
  font-weight: 700;
  font-style: normal;
}

.banner{
  position: relative;

}

.banner-img{
  width: 100%;
  border: 2px solid red;
  padding: 5px;
}

h1{
  background-color: var(--accent2-color);
  background-color: rgba(244, 233, 205, 0.8);
  background-color: rgba(255, 255, 0, 0.8);
  color: var(--primary-color-dark);
  left: 15%;
  top: 10%;
  position: absolute;
  border-radius: 5px;
  width: 300px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 1px 1px 15px red;
}


h3{
  text-align: center;
  border-bottom: 2px solid var(--primary-color-dark);
}

header{
  display: grid;
  justify-content: stretch;
  grid-template-columns: 1fr;
}



.navigation li{
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal; 
  list-style: none;
  display: none;

}

p{
  font-weight: normal;
}


.navigation a:visited {
text-decoration: underline
}

.navigation a:hover {
color: var(--accent2-color);
background-color: var(--primary-color-dark);
border-left: 5px solid var(--contrast-color);
border-right: 5px solid var(--contrast-color);
}

.navigation a:active::before{
  content: '🌴';
}
.navigation a::before:active{
  content: '🌴';
}



.navigation li:first-child a{
  background-color: rgba(235, 131, 50, 0.3);
  color: black;
}

.navigation li:first-child a:hover{
  color: white;
  background-color: var(--primary-color-dark);
}


.marker{
  background-color: var(--secondary-color);
  color: var(--primary-color-dark);
}

.navigation a {
  display: block;
  padding: .5rem 1.5rem;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: purple;
  justify-self: center;
  align-self: center;
  width: 100%;
}

main{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;

}


.call-out{
  padding: .2rem .75rem;
  background-color: var(--accent2-color);
  color: var(--primary-color-dark);
  font-size: 2rem;
  text-decoration: none;
  font-weight: 700;
  border-radius: 5px;
  position: absolute;
  border: 2px solid var(--primary-color-dark);
  top: 65%;
  left: 15%;
  box-shadow: 3px 3px 10px var(--contrast-color);
  
}


.call-out:hover {
  animation: call-out-hover 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


@keyframes call-out-hover {
  0% {
      transform: scale(0.5);
  }
  100% {
      transform: scale(1);
  }
}


.container{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 100%;
  box-sizing: border-box;

}

h2{
  text-align: center;
}

.events{
  width: 100%;
  margin-top: 1rem;
  border: 2px solid red;
  padding: .5rem;


}
.weather{
  width: 100%;
  margin-top: 1rem;
  border: 2px solid red;
  padding: .5rem;


}
.spotlights{
  width: 100%;
  margin-top: 1rem;
}

.img-container img{
  box-shadow: 3px 3px 5px var(--contrast-color);
  margin-left: 1rem;
  border: 1px solid var(--primary-color-dark);
  padding: 5px;
  width: 90%;
}

#menu{
  display: block;
  font-size: 2rem;
  font-weight: 700;
  padding: .5rem .75rem;
}

#menu::before {
	content: "≡";
	position: absolute;
  right: 10px;
  font-size: 2rem;
  font-weight: 700;
  align-self: center;


}

#menu.show::before{
  content: 'X';
}

.show li {
	display: block;
}

#mode{
  position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
	font-size: 2rem;
}

/* For the Discover Page */

.discover-main{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  margin: 0 auto;


}

.main-area{
  /* grid-column: 2 / 3; */
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  padding: .5rem;

}

.main-area img{
  width: 100%;
  height: auto;
  border: 1px solid red;
}

.sidebar-content{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0.5rem;
  
}
.sidebar-content  .second,.first{
  border: 2px solid blue;
    padding: 0.5rem;

}

.calendar{
  width: 100%;
  height: auto;
}

.main-area img{
    width: 100%;
    animation: fade 15s;
}

@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}

.join-form {
  display: block;
  background-color: var(--accent2-color);
  padding: .75rem;
  padding-top: .25rem;
  border-radius: 6px;
}

.join-form fieldset {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  padding: 1rem 2rem;
  border-radius: 6px;
  max-width: 500px;
}

.join-form legend {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0.25rem;
  font-family: var(--heading-font), sans-serif;
}

.join-form label {
  display: block;
  padding-top: 1rem;
  color: var(--primary-color-dark);
  font-size: 1.2rem;
  font-weight: normal;
  font-family: var(--paragraph-font);
}

.join-form label:first-of-type {
  margin-top: 0;
}


.join-form input[type="text"],
.join-form input[type="tel"],
.join-form input[type="email"],
.join-form input[type="number"] {
  background-color: #eeeeee;
  display: block;
  border-radius: 6px;
  border: 1px solid #999999;
  padding: 0.5rem;
  color: var(--primary-color-dark);
  width: 100%;
  height: 45px;
  max-width: 400px;
  appearance: none;
}

.description {
  display: flex;
  flex-direction: column;
}

.join-form input[type="submit"] {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 10%;
  border: 2px solid var(--primary-color-dark);
  outline: none;
  box-shadow: 1px 2px 3px 2px black;
  cursor: pointer;
  border-radius: 6px;
  width: 100%;
  height: 44px;
  padding-left: 2%;
  padding-right: 2%;
  font-weight: 600;
  font-size: 1.5rem;
}

.join-form input[type="submit"]:hover {
  background-color: var(--primary-color-dark);
  color: var(--accent2-color);
}

.join-form input[type="radio"] {
  display: inline;
  align-self: flex-end;
  margin-right: 0.5rem;
  margin-top: 0;
  padding-top: 0;
}

.join-form textarea {
  min-height: 8rem;
  min-width: 100%;
  padding: 0.5rem;
  border: 1px solid red;
}

.sidebar {
  display: none;
  background-color: var(--accent2-color);
  padding: .75rem;
  padding-top: .25rem;
  border-radius: 6px;
  padding: 2rem;
  border-radius: 6px;
  width: 100%;
  min-width: 400px;
}

.sidebar ul li {
  font-family: "Montserrat", sans-serif;
}

.thankyou {
  background-color: var(--accent2-color);
  margin: 0 auto;
  padding: 3rem;
  align-self: center;
}

.thankyou h3 {
  font-family: var(--heading-font);
}

.thankyou p {
  font-family: var(--paragraph-font);
}


