@media screen and (min-width: 768px) {
  .nav-container {
    display: flex;
  }
  main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* grid-template-rows: auto 1fr; */
  }
h1{
    grid-column: 1 / 3;
    text-align: center;
}

  h2 {
    grid-column: 1/3;
    text-align: center;
  }

.card {
    box-shadow: 1px 1px 10px red;
    grid-row: 2/3;
    margin: 2rem;
  }


  /* Hamburger Code */
  .nav-container {
		display: flex;
	}
	.nav-container li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	.nav-container a {
		text-align: center;
	}
	#hamburger {
		display: none;
	}
}
